@font-face {
    font-family: IDroid;
    src: url(pacote-projeto-d010/fontes/idroid.otf);
}

body {
    background-color: #84E1AD;
    margin: 0px;
}
header {
    font-family:  Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to bottom, #3AD17E, #195B37);
    text-align: center;
    padding: 10px;
    display: block;
    color: white;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.6);
    position: relative;
}

header > p {
    font-size: 16px;
    margin: 30px;
}

header > nav {
    text-align: left;
}

header > nav > a {
    font-size: 12px;
    text-decoration: none;
    color: white;
    margin: 2px;
}

#content {
    background-color: #fff;
    padding: 20px;
    max-width: 800px;
    margin: auto;
    text-align: justify;
    word-wrap: break-word;
    box-shadow: 2px 0px 9px rgba(0, 0, 0, 0.6);
}

article > .title > h1, #content > h1 {
    font-family: idroid;
    color: #2F6A49;
    margin: 0px;
}

#content > p, article > p {
    text-indent: 30px;
}

article > .title {
    background-image: linear-gradient(to right, #C4EAD5, white);
    padding: 4px;
}

img {
    display: block;
    margin: auto;
}

#video {
    background-color: #195B37;
    padding: 10px;
}

iframe {
    display: block;
    margin: auto;
}

p > a {
    text-decoration: none;
    color: #2F6A49;
    font-weight: bold;
}

p > a::after {
    content: ' 🔗';
}

strong {
    color: #2F6A49;
}

#extra {
    background-color: #C4EAD5;
    border-radius: 7px;
    padding: 0px;
    margin-top: 20px;
}

#extra > .title {
    background-color: #32A664;
    margin: 0px;
    padding: 10px;
    border-radius: 7px 7px 0px 0px;
}

#extra > .title > h1 {
    margin: 0px;
    color: white;
    font-size: 16px;
}

#extra-content {
    padding: 10px;
}

ul {
    list-style: none;
    display: inline-block;
}

li::before {
    content: '✔ ';
}

footer {
    background-color: #195B37;
    color: white;
    text-align: center;
}

footer > strong {
    color: white;
}