/* configurações gerais */
@media screen and (min-width: 768px) {
    i#burger {
        display: none;
    }

    menu {
        display: block;
    }

    menu li {
        display: inline-block;
        padding: 20px 25px;
        background-color: var(--cor1);
        border-radius: 4px;
    }

    main {
        max-width: 768px;
    }
}
